html {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
}
body {
	background-color: #fff;
	margin-top: 0px;
	font-family:"citrixsans-regular";
	font-size:1.5em;
	color:#000000;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
}

a {
	text-decoration: underline;
}
a:link, a:visited, a:hover {
	color: #00a1e0;
}
h1, h2 {
    font-family:"citrixsans-light";
    font-size: 2.1em;
    line-height: 1.4em;
	color: #000000; 
	font-weight: normal;
}

h2 {
	font-family:"citrixsans-semibold";
    font-size: 1.5em;
    line-height: 1.4em;
}
.text-primary {
	color: #00a1e0;
}

/*==============================================*/
/* NAVBAR
/*==============================================*/
.navbar {
	background: white;
}

.modal-backdrop {
	z-index: 0;
}

.navbar-fixed-top {
	position: relative;
}

ul.nav li {
	padding-top: 50px;
	font-size: 1.2em;
	margin: 0 20px;
}
ul.nav li.active {
	padding-top: 40px;
	border-top: #00a1e0 solid 10px;
	font-size: 1.1em;
}
ul.nav li a {
	text-decoration: none;
	color: gray;
	padding: 15px 10px 0 10px;

}
ul.nav li a:hover {
	background: transparent;
}

/*==============================================================*/
/* Sliding Menu
/*==============================================================*/
#sliding-switcher {
	display: none;
}
#mobile-menu {
	display: none;
}
#fullcontent {
	width:100%!important;
	height: 100%;
	z-index: 5;
	position: fixed;
	top: 0px;
	left: 0px;
	-webkit-box-shadow:  -5px 0px 4px 0px rgba(0, 0, 0, 0.2);
	    moz-box-shadow:  -5px 0px 4px 0px rgba(0, 0, 0, 0.2);
	      o-box-shadow:  -5px 0px 4px 0px rgba(0, 0, 0, 0.2);
	        box-shadow:  -5px 0px 4px 0px rgba(0, 0, 0, 0.2);
	background: white;
	overflow: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
.slideout-menu {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 0;
	width: 256px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	display: none;
}

.slideout-panel {
	position: relative;
	z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
	overflow: hidden;
}

.slideout-open .slideout-menu {
	display: block;
}

/*==============================================================*/
/* Général
/*==============================================================*/
.only-mobile {
	display: none;
}
.banner img {
	width: 100%;
}

.video {
	max-width: 100%;
}
#logo-index {
	display: block;
	background: url(../img/logo.png) no-repeat center bottom;
	background-size: 100%;
	width: 300px;
	height: 90px;
}

.content {
	padding: 0 80px;
}
ul.content {
	padding-left: 70px;
	margin-top: 20px;
}
ul.content li {
	margin-bottom: 5px;
}
p.focus {
	color: #00a1e0;
	font-family:"citrixsans-semibold";
	font-size: 1.3em;
	margin-top: 20px;
}

.copyright {
	font-size: 7pt;
}
.clear {
	clear: both;
}

/*==============================================================*/
/* Mobile + tablette
/*==============================================================*/
@media screen and (max-width: 1024px) {
	body {
		margin-top: 0px;
		padding-top: 0px;
	}
	div.content {
		padding: 0;
	}
	.banner {
		margin: 0 -25px;
	}
	.banner img {
		width: 100%;
	}

	#logo-index {
		width: 200px;
		height: 50px;
	}

	a.only-desktop {
		pointer-events: none;
		cursor: default;
		text-decoration: none;
	}
	.only-mobile {
		display: block;
	}

	ul.content {
		padding-left: 0px;
	}

	#fullcontent {
		padding-top: 0px;
	}

	ul.nav {
		background: transparent;
	}
	ul.nav li {
		padding: 0;
		padding-top: 30px;
		font-size: 1em;
		margin: 0 10px;
	}
	ul.nav li.active {
		padding-top: 20px;
		font-size: 1em;
		border-top: #00a1e0 solid 10px;
	}
	ul.nav li a {
		color: gray;
		padding: 0;
	}
	ul.nav li a:hover {
		background: transparent;
	}

}

/*==============================================================*/
/* Tablette Landscape
/*==============================================================*/
@media screen and (max-width: 1024px) and (orientation:landscape) {
	ul.nav li {
		font-size: 1.2em;
		margin: 0 15px;
	}
	ul.nav li.active {
		font-size: 1.2em;
	}
}

/*==============================================================*/
/* Mobile
/*==============================================================*/
@media screen and (max-width: 750px) {
	body {
		margin-top: 0px;
		padding-top: 0px;
	}
	.banner {
		margin: 0 -15px;
	}
	.banner img {
		width: 100%;
	}
	
	.navbar-toggle {
		display: none;
	}
	.navbar, .navbar .container {
		height: 50px;
		margin: 0;
		padding: 0;
	}
	.navbar-brand {
		padding: 0;
		margin: 0;
	}
	#sliding-switcher {
		display: block;
		float: left;
		width: 50%;
		padding: 0;
		padding-left: 35px;
		margin-top: 10px;
	}

	#logo-index {
		background: url(../img/logo_video.png) no-repeat center bottom;
		background-size: 100%;
		width: 100px;
		height: 50px;
		padding: 0;
		margin-top: -10px;
		margin-left: -50px;
	}
	#mobile-menu {
	    display: inline;
	    float:left;
	    width: 350px;
	    height: 100%;
	    background: dimgray;
	    padding: 20px 0;
	}
		#mobile-menu ul {
			list-style: none;
			margin-left: -40px;
		}
		#mobile-menu ul li {
			font-size: 1.2em;
			border-bottom: gray solid 1px;
			padding: 10px ;
		}
		#mobile-menu ul li.active {
			background: gray;
		}
		#mobile-menu ul li:hover {
			background: black;
		}
		#mobile-menu ul li a {
			color: white;
			text-decoration: none;
		}
	.content {
		padding: 0;
	}
	ul.content {
		margin-top: 20px;
	}
	ul.content li {
		margin-bottom: 5px;
	}

}

/*==============================================================*/
/* Desktop Low Resolution
/*==============================================================*/
@media screen and (min-width: 1025px) {
	ul.nav li {
		padding-top: 50px;
		font-size: 1.1em;
		margin: 0 10px;
	}
	ul.nav li.active {
		padding-top: 40px;
		border-top: #00a1e0 solid 10px;
		font-size: 1.1em;
	}
	ul.nav li a {
		color: gray;
		padding: 10px;

	}
	ul.nav li a:hover {
		background: transparent;
	}

	.content {
		padding: 0 80px;
	}
	ul.content {
		padding-left: 70px;
		margin-top: 20px;
	}
	ul.content li {
		margin-bottom: 5px;
	}
}
